@import "../../style/variables.css";

.error-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3vw 0;
    font-weight: 400;
    font-size: var(--font-lg);
    text-align: center;
    color: var(--gray);
}