@import "../../resources/icon-fonts/icon-font.css", "../../style/variables.css";

@mixin buttons-style{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

@mixin pink-buttons-style{
    


}

.back_button{
    @include buttons-style;
    background-color: var(--pink);
    
    i{
        font-size: var(--font-lg);
        color: var(--red);
    }

    &:hover,
    &:focus{
        background-color: var(--red);

        i{
            color: var(--white);
        }
    }
}

.call_menu_button{
    @include buttons-style;
}

.close_button{
    @include buttons-style;
}

.update_button{
    @include buttons-style;
    background-color: var(--white);

    i{
        font-size: var(--font-md);
        color: var(--red);
    }

    &:hover,
    &:focus{
        background-color: var(--pink);

        i{
            color: var(--red);
        }
    }

    &:active{
        background-color: var(--red);

        i{
            color: var(--white);
        }
    }
}