:root{
  --purple:     #B4B7FF;
  --pink:       #FBE0DC;
  --red:        #FF868E;
  --orange:     #FFD280;
  --green:      #97EAB9;
  --white:      #FFFFFF;
  --background: #F8F8F7;
  --gray:       #8C8C8C;
  --black:      #111111; 

  /* font-size */
  --font-lg: 1.7em;
  --font-md: 1.2em;
  --font-sm: 1em;
  --font-xsm: calc(5px + 0.5vw);
  
  
  
}

[data-dark-them]{
  --purple:     #B4B7FF;
  --pink:       #FBE0DC;
  --red:        #FF868E;
  --orange:     #FFD280;
  --green:      #97EAB9;
  --white:      #FFFFFF;
  --background: #F8F8F7;
  --gray:  #8C8C8C;
  --black:      #111111; 
}







