@import '../../style/variables.css';

#logo{
    width: 7vw;
    min-width: 80px;

    a{
        width: 100%;
        
        &:focus{
        border-bottom: 0.2vw solid var(--pink);
    }
}

    img{
        width: 100%;
    }
}

#greating_text{
    margin-top: 5%;

    h1{
        font-size: var(--font-lg);
        font-weight: 500;
    }

    h2{
        font-size: var(--font-md);
        font-weight: 400;
        color: var(--gray)
    }
}

@media (max-width: 1500px){

}

@media (max-width: 1200px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){
    #logo{
        display: none;
    }

    #greating_text{
        display: none;
    }

    .first_page .close_button{
        display: none;
    }
    
    .first_page #logo{
        display: block;
    }

    .first_page #greating_text{
        display: block;
    }
}

@media (max-width: 576px){

}


// X-Small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px



